@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

:root{
    --cor-primaria: #06283D;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #47B5FF;
    --cor-hover-botoes: #256D85;
    --cor-hover-menu: #DFF6FF;
    --fonte: font-family: 'Prompt', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    height: 100%;
    width: 100%;
    
}

body{
    display: flex;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    
}

.header{
    display: block;
    padding-top: 5%;
    width: auto;
    max-width: 1300px;
    margin: 0 auto 5%;
}
.header__items{
    display: flex;
    gap: 5%;
    text-align: center;
    width: 100%;
    margin-left: 5%;
}

.header__items__link{
    font-family: var(--fonte);
    font-weight: 600;
    font-size: 2rem;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.header__items__link:hover{
    color: var(--cor-hover-menu);
    transition: 0.2s;
}

.titulo{
    color: var(--cor-terciaria);
}
.apresentacao{
    display: flex;
    gap: 2%;
    align-items:start;
    width: 100%;
    margin: 0 auto 10%;
    max-width: 1300px;
    height: 50vh;

    
}
.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 5% 0% 5%;
    margin-left: 5%;
    
}
.apresentacao__conteudo__titulo{
    font-size: 3.2rem;
    font-family: var(--fonte);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte);
    text-align: justify;
}

.apresentacao__conteudo__botao{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.apresentacao__conteudo__botao__titulo{
    font-size: 1.5rem;
    font-family: var(--fonte);
    width: 100%;
}
.apresentacao__conteudo__botao__link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
    border-radius: 8px;
    font-family: var(--fonte);
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    border: 2px solid;
    border-color: var(--cor-terciaria);
    width: 40%;
    height: auto;
    padding: 1% 0 1%;
}

.apresentacao__conteudo__botao__link:hover{
    background-color: var(--cor-hover-botoes);
    transition: 0.2s;
}

.apresentacao__conteudo__botao__link__icone{
    width: 20%;
}   

.apresentacao__foto{
    width: 40%;
    margin-right: 5%;

}

.footer{
    display: flex;
    margin-top: auto;
}
.conteudo_footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 1%;
}
.strong{
    color: #47B5FF;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

@media (max-width: 1200px){
    
    .header{
        padding: 5% 5% 0;;
    }
    .header__items{
        justify-content: center;
        gap: 10%;
        margin-left: 0;
    }

    body{
        justify-content: start;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 0% 5% 4%;
        height: 100%;
    }
    .apresentacao__conteudo{
        padding-top: 5%;
        width: auto;
        margin: 0;
    }
    .apresentacao__conteudo__botao{
        gap: 15px;
    }
    .apresentacao__conteudo__botao__link{
        max-width: 600px;
        max-height: 200px;
        font-size: 1.8rem;
        width: 100%;
    }
    .apresentacao__foto{
        width: 90%;
        padding: 5%;
        margin: 0 auto;
    }
}    

@media (max-width: 600px){
    .apresentacao__conteudo__botao__link{
        max-width: 600px;
        font-size: 1.3rem;
    }
}    

@media (max-width: 380px){
    .header__items__link{
        font-size: 1.2rem;
        
    }
    .apresentacao__conteudo__titulo{
        text-align: center;
        font-size: 2rem;
        font-family: var(--fonte);
    }
    .apresentacao__conteudo__texto{
        font-size:1.2rem;
    }
    .apresentacao__conteudo__botao__link{
        max-width: 600px;
        font-size: 1rem;
    }
}

